@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*https://fonts.google.com/selection/embed*/
body{
  font-family: 'Poppins', sans-serif;
  max-height: 00px;
}

.rectangles rect {
  transition: fill 0.3s ease;
}
.rectangles rect:hover {
  fill: #6B8E23; /* Change this to the desired background color */
}


.marquee {
  text-align: center;
  padding: 10px;
  background-color: #f9f9f9;
  color: #333;
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.svg {
  overflow: hidden;
  height: 700px;
}

.text {
  font-size: 14px;
  fill: #333;
}

.link {
  stroke: #ccc;
  stroke-width: 2;
}

.link:hover {
  stroke: #ff0000;
}